   a.navbar-item {
  color: white;

}

   a.navbar-item.is-active {

  background-color: grey;;
}




 .navbar { 
 background-color:#10689e;
   
        } 
        
.navbar-burger > span {
	background-color: white;
}

.container {
 padding:10px;
}

body {
  overflow-x: auto; /* Show horizontal scrollbar */

}
